extends layout

block content
  form(method='POST', id='changePassForm', class='needs-validation card p-4')
    div.mb-3
      label(for='oldPassword')='Current Password'
      input(type='password', class='form-control', id='oldPassword', placeholder='')
      div.invalid-feedback='Please enter your current password.'
    div.mb-3
      label(for='newPassword')='New Password'
      input(type='password', class='form-control', id='newPassword', placeholder='')
      div.invalid-feedback='Please enter a new password.'
    div.mb-3
      label(for='repeatPassword')='Repeat Password'
      input(type='password', class='form-control', id='repeatPassword', placeholder='')
      div.invalid-feedback='Please repeat your new password.'
    button(class='btn btn-dark', type='submit')='Change Password'