doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title=title
    script(src='/javascripts/bundle.js')
    block style
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0')
      a(class='navbar-brand col-sm-3 col-md-2 mr-0')='e-Shuttle'
      ul(class='navbar-nav px-3')
        li(class='nav-item text-nowrap')
          a(class='nav-link', onclick='logout()')='Sign Out'
    div(class='container-fluid row')
        nav(class='col-md-2 d-none d-md-block bg-light sidebar')
          div(class='sidebar-sticky')
            -for(var item in menu)
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")=item
              ul(class="nav flex-column mb-2")
              for content in menu[item]
                li(class="nav-item")
                  -var link = content.toLowerCase().replace(' ', '-')
                  if (content == title)
                    a(class="nav-link active", href=link)=content
                  else
                    a(class="nav-link", href=link)=content
        main(role='main', class='col-md-9 ml-sm-auto col-lg-10 pt-3 px-4', id='main')
          div(class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom')
            h2=title
          block content
  block script